@font-face {
  font-family: 'League-Spartan';
  src: url('../src/assets/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'League-Spartan';
  src: url('../src/assets/fonts/LeagueSpartan-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Koulen';
  src: url('../src/assets/fonts/Koulen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Koulen';
  src: url('../src/assets/fonts/Koulen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: League-Spartan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: var(--primary-color);

  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #0C2D57;
  --secondary-color: #FC6736;
  --primary-font: League-Spartan;
  --secondary-font: Koulen;

}


.homeContainer {

  background-image: url(../src/assets/images/background-triangle.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 3vw;
  margin: 3rem;
  margin-bottom: 10vw;
  padding-bottom: 1vw;

  h1 {
    font-family: var(--primary-font);
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .welcomeContainer {

    display: inline-flex;
    align-items: center;

    .welcomeText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-family: var(--secondary-font);
        font-size: 6rem;
        line-height: 1rem;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      }

      p {
        font-family: var(--primary-font);
        font-size: 4rem;
        width: 90%;
        text-align: start;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        margin: 2vw;

        span {
          font-family: var(--primary-font);
          font-weight: bold;
          text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }
      }
    }

    #photoProfil {
      display: block;
      width: 20%;
      height: 20%;
      border-radius: 50%;
      margin-left: 5%;
    }
  }

  #invitationText {
    font-size: 4rem;
    font-weight: 400;
    margin: 1vw;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  #welcomeDownButton {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(../src/assets/images/down-button.png);
    background-position: center;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    animation: bounce 2.5s infinite;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }
  }

}

//écran Nav

#navContainer {
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  margin-top: auto;
  border: 10px solid var(--secondary-color);
  padding-top: 2vw;
  padding-bottom: 2vw;

  #boxContainer {
    height: 230px;
    background-image: url(../src/assets/images/box-closed.svg);
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #navCenterRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    #cvContainer {
      height: 350px;
      width: 421px;
      background-image: url(../src/assets/images/cv-closed.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: 85%;
    }

    #navText {
      font-size: 4rem;
      font-weight: 400;
      margin: 1vw;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      margin-right: 3vw;
      margin-left: 3vw;
      text-align: center;
    }

    #factoryContainer {
      height: 350px;
      width: 421px;
      background-image: url(../src/assets/images/factory-closed.svg);
      background-size: 100% 100%;
    }

  }

  #warehouseContainer {
    height: 230px;
    background-image: url(../src/assets/images/warehouse-closed.svg);
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
  }


}