@font-face {
  font-family: 'League-Spartan';
  src: url('../src/assets/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'League-Spartan';
  src: url('../src/assets/fonts/LeagueSpartan-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Koulen';
  src: url('../src/assets/fonts/Koulen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Koulen';
  src: url('../src/assets/fonts/Koulen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: League-Spartan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: var(--primary-color);

  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #0C2D57;
  --secondary-color: #FC6736;
  --primary-font: League-Spartan;
  --secondary-font: Koulen;

}

//écran d'accueil

.homeContainer {

  background-image: url(../src/assets/images/background-triangle.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 3vw;
  margin: 2vw;
  margin-bottom: 1vw;
  padding-bottom: 1vw;

  h1 {
    font-family: var(--primary-font);
    font-size: 4vw;
    font-weight: 400;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .welcomeContainer {

    display: inline-flex;
    align-items: center;

    .welcomeText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-family: var(--secondary-font);
        font-size: 6vw;
        line-height: 1rem;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      }

      p {
        font-family: var(--primary-font);
        font-size: 4vw;
        width: 90%;
        text-align: start;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        margin: 2vw;

        span {
          font-family: var(--primary-font);
          font-weight: bold;
          text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }
      }
    }

    #photoProfil {
      display: block;
      width: 20%;
      height: 20%;
      border-radius: 50%;
      margin-left: 1vw;
    }
  }

  #invitationText {
    font-size: 4vw;
    font-weight: 400;
    margin: 1vw;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  #welcomeDownButton {
    display: block;
    width: 5vw;
    height: 5vw;
    background-image: url(../src/assets/images/down-button.png);
    background-position: center;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    animation: bounce 2.5s infinite;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }
  }

}

//écran Nav

#navContainer {
  align-items: center;
  justify-content: center;
  padding-top: 3vw;
  padding-bottom: 1vw;

  #boxContainer {
    height: 12vw;
    width: 30vw;
    background-image: url(../src/assets/images/box-closed.svg);
    background-size: 100% 100%;
    background-position: center;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    &:hover {
      background-image: url(../src/assets/images/box-open.svg);
    }
  }


  #navCenterRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;

    #cvContainer {
      height: 20vw;
      width: 22vw;
      margin-left: auto;
      background-image: url(../src/assets/images/cv-closed.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      overflow: visible;
      cursor: pointer;

      &:hover {
        background-image: url(../src/assets/images/cv-open.svg);
      }
    }

    #navText {
      font-size: 4vw;
      font-weight: 400;
      margin: 1vw;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      margin-right: 5vw;
      margin-left: 7vw;
      text-align: center;
      transition: transform 0.5s;
      animation: jiggle 6s infinite;

      @keyframes jiggle {

        0%,
        100% {
          transform: rotate(-2deg);
        }

        50% {
          transform: rotate(2deg);
        }
      }
    }

    #factoryContainer {
      height: 20vw;
      width: 22vw;
      margin-right: auto;
      background-image: url(../src/assets/images/factory-closed.svg);
      background-size: 100% 100%;
      background-position: left;
      overflow: visible;
      cursor: pointer;

      &:hover {
        background-image: url(../src/assets/images/factory-open.svg);
      }
    }

  }

  #warehouseContainer {
    height: 12vw;
    width: 30vw;
    background-image: url(../src/assets/images/warehouse-closed.svg);
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    &:hover {
      background-image: url(../src/assets/images/warehouse-open.svg);
    }
  }
}

// CV

.cvContainer {

  display: inline-flex;
  justify-content: space-evenly;
  text-align: center;

  #locker {
    display: block;
    height: 97vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .descriptionContainer {

    max-width: 36vw;

    .textCVContainer {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      border: solid 5px var(--secondary-color);
      border-radius: 15px;
      padding: 1vw;
      margin: 1vw;

      p {

        font-size: 1.5vw;

        span {
          font-weight: bold;
        }
      }

      button {
        display: flex;
        width: 98%;
        justify-content: space-between;
        align-items: center;
        font-family: League-Spartan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        color: white;
        font-size: 1.5vw;
        font-weight: bold;
        border: none;
        background: none;
        text-align: center;
        cursor: pointer;

        #extendButton {
          height: 1.5vw;
          transition: transform 0.3s ease;
          margin-left: 1vw;
        }

        #extendButton.rotated {
          transform: rotate(180deg);
        }
      }
    }

  }

}