@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'League-Spartan';
    src: url('../src/assets/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'League-Spartan';
    src: url('../src/assets/fonts/LeagueSpartan-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
  }
  
  @font-face {
    font-family: 'Koulen';
    src: url('../src/assets/fonts/Koulen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Koulen';
    src: url('../src/assets/fonts/Koulen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  :root {
    font-family: League-Spartan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  
    color: rgba(255, 255, 255, 1);
    background-color: var(--primary-color);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --primary-color: #0C2D57;
    --secondary-color: #FC6736;
    --secondary-color-minor: #ff7e53;
    --secondary-color-focus: #ad3209b8;
    --secondary-color-faded: #fc673681;
    --primary-font: League-Spartan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --secondary-font: Koulen, League-Spartan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  .homeContainer {

    background-image: url(../src/assets/images/background/background-triangle.png);
    background-size: 93% 90%;
    background-position: center;
    background-repeat: no-repeat;

  }

  #photoProfil {
    border: 5px solid var(--primary-color);
  }

  .homeContainer h1 {
    font-family: var(--primary-font);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .homeContainer #welcomeDownButton {
    background-image: url(../src/assets/images/general_icons/down-button.png);
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
    animation: bounce 2.5s infinite;
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }
  }

  .welcomeContainer h2 {
    font-family: var(--secondary-font);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .welcomeContainer #invitationText {
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  @media (max-width:640px) {

    .homeContainer {
      background-size: 100% 100%;
    }
  }

  /* Nav */

  #navContainer {
    display: grid;
    grid-template-columns: 28% 42% 28%;
    grid-template-areas: 
    'warehouseGridContainer navText skillsGridContainer'
    'CVGridContainer navText ContactGridContainer'
    ; 
    row-gap: 10px;
    overflow-y: auto;
  }

  #skillsGridContainer {grid-area: skillsGridContainer; }
  #CVGridContainer {grid-area: CVGridContainer; }
  #navText {grid-area: navText; }
  #ContactGridContainer {grid-area: ContactGridContainer; }
  #warehouseGridContainer {grid-area: warehouseGridContainer; }

  #boxContainer {
    background-image: url(../src/assets/images/Nav_icons/box-closed.svg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
    cursor: pointer;
  }

  #boxContainer:hover,
  #boxContainer:active {
    background-image: url(../src/assets/images/Nav_icons/box-open.svg);
  }

  #cvContainer {
    background-image: url(../src/assets/images/Nav_icons/cv-closed.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right;
    overflow: visible;
    cursor: pointer;
  }

  #cvContainer:hover,
  #cvContainer:active {
    background-image: url(../src/assets/images/Nav_icons/cv-open.svg);
  }

  #factoryContainer {
    background-image: url(../src/assets/images/Nav_icons/factory-closed.svg);
    background-size: 100% 100%;
    background-position: left;
    overflow: visible;
    cursor: pointer;
  }
  #factoryContainer:hover,
  #factoryContainer:active {
    background-image: url(../src/assets/images/Nav_icons/factory-open.svg);
  }

  #warehouseContainer {
    background-image: url(../src/assets/images/Nav_icons/warehouse-closed.svg);
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  #warehouseContainer:hover,
  #warehouseContainer:active {
    background-image: url(../src/assets/images/Nav_icons/warehouse-open.svg);
  }

  #navCatchPhrase {
  animation: jiggle 6s infinite;
  }

  @keyframes jiggle {

    0%,
    100% {
      transform: rotate(-2deg);
    }

    50% {
      transform: rotate(2deg);
    }
  }


  @media (max-width:640px) {

  .navButtonSmall {
    border: 2px solid var(--secondary-color-minor);
    border-radius: 10px;
    background-color: var(--secondary-color-faded);
    box-shadow: inset 0 0 15px var(--secondary-color-faded);
  }

  #boxContainer {
    background-image: url(../src/assets/images/Nav_icons/box-closed-small.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #boxContainerParent:active #boxContainer {
    background-size: 70% 70%;
    background-image: url(../src/assets/images/Nav_icons/box-open-small.svg);
  }

  #cvContainer {
    background-image: url(../src/assets/images/Nav_icons/cv-closed-small.svg);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: 0%;
  }

  #cvContainerParent:active #cvContainer {
    background-image: url(../src/assets/images/Nav_icons/cv-open.svg);
  }

  #factoryContainer {
    background-image: url(../src/assets/images/Nav_icons/factory-closed-small.svg);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #factoryContainerParent:active #factoryContainer {
    background-image: url(../src/assets/images/Nav_icons/factory-open-small.svg);
  }

  #warehouseContainer {
    background-image: url(../src/assets/images/Nav_icons/warehouse-closed-small.svg);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: 20px center;
  }

  #warehouseContainerParent:active #warehouseContainer {
    background-image: url(../src/assets/images/Nav_icons/warehouse-open-small.svg);
  }
}


/* CV */

@media (min-width:640px) {
  .cvContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 39% 20% 39%; 
    grid-template-areas: 
    'cvButtonsContainer cvButtonsContainer cvButtonsContainer'
    'cvLeftContainer locker cvRightContainer';
    row-gap: 10px;
    overflow-y: auto;
  }
}

.cvLeftContainer {
  grid-template-rows: auto;
  grid-template-areas: 
  'CVexperience'
  'hoard'
  'numerilis'
  'grdf'
  'genci'
  'sushis';
  row-gap: 10px;
}

.cvRightContainer {
  grid-template-rows: auto;
  grid-template-areas: 
  'CVformations'
  'wild'
  'kedge'
  'nanterre';
  row-gap: 10px;
}

#locker {grid-area: locker; }
#cvButtonsContainer { grid-area: cvButtonsContainer; }
#CVexperience { grid-area: CVexperience; }
#hoard { grid-area: hoard; }
#numerilis { grid-area: numerilis; }
#grdf { grid-area: grdf; }
#genci { grid-area: genci; }
#sushis { grid-area: sushis; }
#CVformations { grid-area: CVformations; }
#wild { grid-area: wild; border-color: aqua; }
#kedge { grid-area: kedge; border-color: aqua; }
#nanterre { grid-area: nanterre; border-color: aqua; }
.cvLeftContainer { grid-area: cvLeftContainer;}
.cvRightContainer { grid-area: cvRightContainer;}

.cvButtons {
  background-color: var(--secondary-color);
  text-decoration: none;
  font: var(--primary-font);

  box-shadow: inset -3px -3px 7px var(--secondary-color-focus),
    inset 3px 3px 5px var(--secondary-color-focus),
    3px 3px 10px var(--secondary-color-focus);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.cvButtons:hover,
.cvButtons:active {
  transform: translateY(-2px);
  box-shadow: inset -3px -3px 7px var(--secondary-color-focus),
    inset 3px 3px 5px var(--secondary-color-focus),
    5px 5px 15px var(--secondary-color-focus);
}

.textCVContainer {
  display: flex;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border: solid 5px var(--secondary-color);
  border-radius: 15px;
  overflow: hidden;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--primary-font);
  font-weight: bold;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  padding: 2%;
}

#extendButton {
  display: block;
  max-height: 7vw;
  transition: transform 0.3s ease;
  margin: 2%;
}

#extendButton.rotated {
  transform: rotate(180deg);
}

#CvTextFocus {
  font-weight: bold;
}


/* Skills */

@media (min-width:641px) {
  .skillsGridContainer {
    display: grid;
    grid-template-rows: auto;
    column-gap: 10px;
    grid-template-columns: 32% 32% 32%;
    grid-template-areas: 
    'engineContainer tripodContainer toolboxContainer';
    justify-content: center;
  }
}

@media (max-width:640px) {
.skillsGridContainer {
  display: grid;
  grid-template-rows: auto;
  row-gap: 10px;
  grid-template-areas: 
  'engineContainer' 
  'tripodContainer' 
  'toolboxContainer';
  justify-content: center;
}
}

#engineContainer { grid-area: engineContainer; }
#tripodContainer { grid-area: tripodContainer; }
#toolboxContainer { grid-area: toolboxContainer; }

#engineIcon:hover {
  animation: shake 0.2s infinite;
  }

  @keyframes shake {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-1px);
    }
  }
