@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'League-Spartan';
    src: url('../src/assets/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'League-Spartan';
    src: url('../src/assets/fonts/LeagueSpartan-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
  }
  
  @font-face {
    font-family: 'Koulen';
    src: url('../src/assets/fonts/Koulen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Koulen';
    src: url('../src/assets/fonts/Koulen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  :root {
    font-family: League-Spartan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    max-width: 1536px;
  
    color: rgba(255, 255, 255, 1);
    background-color: var(--primary-color);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --primary-color: #0C2D57;
    --secondary-color: #FC6736;
    --secondary-color-minor: #ff7e53;
    --secondary-color-focus: #ad3209b8;
    --secondary-color-faded: #fc673681;
    --primary-font: League-Spartan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --secondary-font: Koulen, League-Spartan, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  .homeContainer {

    background-image: url(../src/assets/images/background-triangle.png);
    background-size: 93% 90%;
    background-position: center;
    background-repeat: no-repeat;

  }

  .homeContainer h1 {
    font-family: var(--primary-font);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .homeContainer #welcomeDownButton {
    background-image: url(../src/assets/images/down-button.png);
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
    animation: bounce 2.5s infinite;
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }
  }

  .welcomeContainer h2 {
    font-family: var(--secondary-font);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .welcomeContainer #invitationText {
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  @media (max-width:640px) {

    .homeContainer {
      background-size: 100% 100%;
    }
  }

  /* Nav */

  #boxContainer {
    background-image: url(../src/assets/images/box-closed.svg);
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
  }

  #boxContainer:hover,
  #boxContainer:active {
    background-image: url(../src/assets/images/box-open.svg);
  }

  #cvContainer {
    background-image: url(../src/assets/images/cv-closed.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    overflow: visible;
    cursor: pointer;
  }

  #cvContainer:hover,
  #cvContainer:active {
    background-image: url(../src/assets/images/cv-open.svg);
  }

  #factoryContainer {
    background-image: url(../src/assets/images/factory-closed.svg);
    background-size: 100% 100%;
    background-position: left;
    overflow: visible;
    cursor: pointer;
  }
  #factoryContainer:hover,
  #factoryContainer:active {
    background-image: url(../src/assets/images/factory-open.svg);
  }

  #warehouseContainer {
    background-image: url(../src/assets/images/warehouse-closed.svg);
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  #warehouseContainer:hover,
  #warehouseContainer:active {
    background-image: url(../src/assets/images/warehouse-open.svg);
  }

  #navText {
  animation: jiggle 6s infinite;
  }

  @keyframes jiggle {

    0%,
    100% {
      transform: rotate(-2deg);
    }

    50% {
      transform: rotate(2deg);
    }
  }



  @media (max-width:640px) {

  .navButtonSmall {
    border-top: 2px solid var(--secondary-color-minor);
    border-bottom: 2px solid var(--secondary-color-minor);
    background-color: var(--secondary-color-faded);
    box-shadow: inset 0 0 15px var(--secondary-color-faded);
  }

  #boxContainer {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #boxContainerParent:active #boxContainer {
    background-image: url(../src/assets/images/box-open.svg);
  }

  #cvContainer {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: 0%;
  }

  #cvContainerParent:active #cvContainer {
    background-image: url(../src/assets/images/cv-open.svg);
  }

  #factoryContainer {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #factoryContainerParent:active #factoryContainer {
    background-image: url(../src/assets/images/factory-open.svg);
  }

  #warehouseContainer {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #warehouseContainerParent:active #warehouseContainer {
    background-image: url(../src/assets/images/warehouse-open.svg);
  }
  
}
